{
  presets: [
    // Latest stable ECMAScript features
    'latest',
    // stage-2 ECMAScript features
    'stage-3',
    // JSX
    'react',
    //minification
    'babili'
  ],
  plugins: [
    // export Thing from './thing'
    'babel-plugin-transform-export-extensions',
    // class { handleClick = () => { } }
    'babel-plugin-transform-class-properties',
    // injects `import React from 'react'` when jsx is present
    'babel-plugin-react-require'
  ]
}
