html, body {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

figure {
  margin: 0;
}

.mySlide {
  width: 100%;
  margin: 0;
  & img {
    width: 100%;
  }
}

.track {
  border: 1em solid rebeccapurple;
  flex: 1 1 100%;
}

.slider {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100vw;

  & button {
    padding: 1em;
  }
}
