html, body {
  box-sizing: border-box;
  margin: 0;
  background: #e5e5e5;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

input {
  font-family: monospace;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

figure { margin: 0; }

header {
  color: #222;
  font-size: 2em;
  text-align: center;
  border-bottom: 1px solid #222;
}

.line { display: block; }
.align-left { text-align: left; }
.align-right { text-align: right; }

.mySlide {
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
}
.mySlide img {
  width: 100%;
}

.text {
  color: #222;
  text-align: left;
  padding: 2em;
}

.track {
  flex: 1 1 100%;
}

.slider {
  width: 100%;
  padding-bottom: 4em;
  position: relative;
}

.autoslideToggler {
  margin: 1em;
  display: block;
  color: #222;
}
.controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}

button {
  background: none;
  border: none;
  color: #222;
  font-size: 1.1em;
  padding: 1em;
  position: absolute;
  bottom: 0;
  width: 50%;
}

button:hover {
  background: hsla(0, 0%, 0%, .2);
  cursor: pointer;
}

.prevButton {
  left: 0;
  text-align: left;
  padding-left: 3em;
}

.prevButton::before {
  content: '';
  border: 1em solid #222;
  transform: translateY(.75em) rotate(45deg);
  transform-origin: center;
  display: inline-block;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  left: 1em;
  bottom: .5em;
}
.prevButton::after {
  content: '';
  width: 25%;
  height: calc(50% + .125em);
  border-bottom: .5em solid #222;
  position: absolute;
  left: 2em;
  bottom: .5em;
}

.nextButton {
  right: 0;
  text-align: right;
  padding-right: 3em;
}

.nextButton::after {
  content: '';
  border: 1em solid #222;
  transform: translateY(.75em) rotate(45deg);
  transform-origin: center;
  display: inline-block;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  right: 1em;
  bottom: .5em;
}
.nextButton::before {
  content: '';
  width: 25%;
  height: calc(50% + .125em);
  border-bottom: .5em solid #222;
  position: absolute;
  right: 2em;
  bottom: .5em;
}

.options {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1em .75em;
}

.option {
  display: flex;
  flex: 0 0 40%;
  flex-flow: column nowrap;
  margin: 0 .25em
}

.label {
  color: #222;
}

.currentSlide {
  border-top: 1px solid #222;
  padding-top: 12px;
  text-align: center;
}

.md {
  margin: 25px auto;
}

.wrapper {
  max-width: 900px;
}

.caption {
  margin-bottom: auto;
}
